/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style guide Variable Declaration */

:root {
    /* For the body */
    --primarycolor1: hsl(31, 77%, 52%); 
    --primarycolor2: hsl(184, 100%, 22%);
    --primarycolor3: hsl(179, 100%, 13%);

    /* For paragraphs, background, headings and buttons */
    --neutralcolor1: hsla(0, 0%, 100%, 0.75);
    --neutralcolor2: hsl(0, 0%, 95%);

    /* For Typography */
    --fontfamilybody: 'Lexend Deca', sans-serif;
    --fontfamilyheader: 'Big Shoulders Display', cursive;
    --bodyfontsize: 15px;
    --headerfontweight: 700;
    --bodyfontweight: 400;
}

/* Body Styling */

body {
width: 100%;
max-width: 1440px;
background-color: var(--neutralcolor2);
}

/* Main and section Styling */

main {
    background-color: var(--neutralcolor2);
    min-height: 100vh;
    display: flex;
}

.container {
    /* width: 50%; */
    max-width: 880px;
    margin: auto;
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
}

p {
    color: var(--neutralcolor1);
    font-family: var(--fontfamilybody);
    font-size: var(--bodyfontsize);
    line-height: 1.5em
}

h1 {
    color: var(--neutralcolor2);
    font-family: var(--fontfamilyheader);
    font-size: 2em;
}

/* First Column */

.column1 {
    
    padding: 48px;
    /* padding-bottom: 48px; */
    background-color: var(--primarycolor1);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    /* width: 33%; */
}
.column1 h1 {
    margin-bottom: 20px;
    margin-top: 20px;
}
.column1 p {
    margin-bottom: 80px;
}
.column1 button {
    width: 70%;
    padding: 12px;
    border-radius: 24px;
   background-color: var(--neutralcolor2);
   color: var(--primarycolor1);
   border: none;
   font-size: var(--bodyfontsize);
   }

/* Second Column */

.column2 {
    padding: 48px;
    background-color: var(--primarycolor2);
    /* width: 33%; */
}
.column2 h1 {
    margin-bottom: 20px;
    margin-top: 20px;
}
.column2 p {
    margin-bottom: 80px;
}
.column2 button {
    width: 70%;
    padding: 12px;
    border-radius: 24px;
   background-color: var(--neutralcolor2);
   color: var(--primarycolor2);
   border: none;
   font-size: var(--bodyfontsize);
}

/* Third Column */

.column3 {
    padding: 48px;
    background-color: var(--primarycolor3);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    /* width: 33%; */
}
.column3 h1 {
    margin-bottom: 20px;
    margin-top: 20px;
}
.column3 p {
    margin-bottom: 80px;
}
.column3 button {
    width: 70%;
    padding: 12px;
    border-radius: 24px;
   background-color: var(--neutralcolor2);
   color: var(--primarycolor3);
   border: none;
   font-size: var(--bodyfontsize);
}

footer section {
    text-align: center;
    margin-top: -36px;
    /* background-color: red; */
}

button {
    background-color: green;
    color: white;
    font-size: var(--bodyfontsize);
    width: 20%;
    padding-block: .85rem;
    border: none;
    outline: none;
    border-radius: 16px;
    cursor: pointer;
}

/* Media query for responsiveness */

@media  screen and (max-width: 376px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .column1 {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0;
        /* width: 33%; */
    }

    .column3 {
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 0;
        /* width: 33%; */
    }

    footer section {
        margin-top: 0px;
        
    }

    button {
        width: 50%;
        margin: 2em auto;
    
    }
    
}